*{
    list-style-type: none;
    text-decoration: none;
    color: black;
    transition: .5s;
  }
  
  body{
    background-image: url(../Photo/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .header {
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.274);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 20px;
  }
  
  .header ul {
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    gap: 30px;
  }
  
  .header ul li {
    padding: 20px;
    padding-left: 5px;
  }
  
  .header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
  }

   .content{
    padding-top: 25px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
  }
.imaga{
  transform: translateY(-30px);
}

.banner{
    transform: translate(30px,-15px);
    font-weight:bold;
    }
.prod{
    display: flex;
    translate: 30px;
    position: absolute;
    bottom:-500px;
    right: 50px;
}
.target{
    background-color: #eee;
    width: 600px;
    height: 100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows:200px 200px 200px;
    
}
.target div{
    background-color: #f9f9f9ba;
    color: black;
    padding: 10px;
    font-size: 10;
    font-weight: bold;
    text-align: center;
}
.photo{
    background-color: #eee;
    width: 1200px;
    height: 200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px ;
    grid-template-rows:40px 40px 40px 40px 40px;
    grid-gap: 10px;
    transform: translateZ(50px);
}
.store{
  background-color: rgba(138, 128, 128, 0.374);
}

.h1{
  text-align: center;
}

.sign{
  transform: translateX(1100px);
}

footer {
  background-color: white;
  color: #fff;
  padding: 30px 0;
  border-radius: 10px;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-left p {
    width: 300px;
    margin-bottom: 10px;
}

.footer-center ul{
display: flex;
}
.footer-center ul li{
padding-left: 35px;
}
.footer-center ul {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
}


.photo img:hover{
  transform: translateY(10px);
}