*{
  list-style-type: none;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

body{
  background-image: url(../Photo/clipboard-stethoscope.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.header{
  width: 100%;
  height:100%;
  background-color: rgba(169, 169, 169, 0.274);
  display: flex;
  justify-content: space-between;
  align-items: center;
    border-radius: 20px;
}
.header ul {
  list-style: none;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  gap: 30px;
}

.header ul li {
  padding: 20px;
  padding-left: 5px;
}

.header ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  color: black;
}
.header input{
  width: 200px;
  height: 30px;
  color: black;
    border-radius: 30px;
}
.header button{
  width: 60px;
  height: 34px;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 2, 110);
  border-radius: 20px;
}
.header button:hover{
  background-color: rgb(59, 59, 231);
}

.content{
  width: 500px;
padding: 30px;
font-size: 20px;
text-align: center;
font-size: 20px;
display: flex;
justify-content: center;
flex-direction: column;
}
.content p,h1{
backdrop-filter: blur(8px);
text-align: center;
transform: translateX(380px);
}

section{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
      border-radius: 30px;
      margin-bottom: 90px;
      padding-bottom: 100px;
}
section div{
  text-align: center;
  padding: 15px;
}
section input{
  transform: translate(560px,60px);
  width: 200px;
  height: 50px;
  background-color: rgb(57, 57, 153);
  color: #fff;
  font-weight: bolder;
  font-size: large;
}
section input:hover{
  background-color: rgb(97, 97, 255);
}

/* .parent div{
  background-color: #f9f9f9;
  color: black;
  padding: -px;
  font-size: 20;
  font-weight: bold;
  text-align: center;
} */
/* button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid white;
  border-radius: 30px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: rgb(2, 2, 66);
}

button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid white;
    border-radius: 30px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: rgb(2, 2, 66);
  } */


footer {
  background-color: white;
  color: #fff;
  padding: 30px 0;
  border-radius: 10px;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-left p {
    width: 300px;
    margin-bottom: 10px;
}

.footer-center ul{
display: flex;
}
.footer-center ul li{
padding-left: 35px;
}
.footer-center ul {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
}



