* {
    list-style-type: none;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

body {
    background-image: url(../Photo/clipboard-stethoscope.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.274);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.header ul {
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    gap: 30px;
}

.header ul li {
    padding: 20px;
    padding-left: 5px;
}

.header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
}

/* .header input {
    width: 200px;
    height: 30px;
    color: black;
    border-radius: 30px;
}

.header button {
    width: 60px;
    height: 34px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 2, 110);
    border-radius: 20px;
}

.header button:hover {
    background-color: rgb(59, 59, 231);
} */


.done{
    text-align: center;
    font-size: x-large;
    padding: 90px;
}

.done input{
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 231);
    border-radius: 10px;
    font-size: large;
    font-weight: bolder;
}

.done input:hover {
    background-color: rgba(59, 59, 231, 0.712);
    transform: translateY(-10px);
    border-radius: 30px;
}
